<div class="product-item"  >

    <div class="product-image">
        <img src={{product?.imgUrl}} alt="Image non disponible" height="300" width="300">
    </div>
    
    <div class="product-details">

        <div class="product-name">
            <h2>{{product?.name?.substring(0,40)}}</h2> 
        </div>

        <div class="product-price">
            <h3>{{product?.sold_price}} € </h3>
            <del> <h3>{{product?.price }} €</h3></del>
            
        </div>
       
        
    </div>
    
    <div class="buttons-container"> 
         
        <div class="button-group"> 
            <button type="button" class="btn btn-dark" (click)="handleClickProduct(product)" [routerLink]="['product',product?._id]">Quick View</button>
            <button type="button" class="btn btn-dark" [routerLink]="'/product-details/' + product?._id">View Details</button>

        </div>
    </div>
  
   
</div>


